{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}User Register{% endblock %}
{% block content %}
<div class="container">
    <div class="card mt-5">
        <h5 class="card-header">User Register</h5>
        <div class="card-body">
            {% for msg in messages %}
            <p class="text-success">{{msg}}</p>
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                <table class="table table-bordered">
                    {{form|crispy}}
                    <tr>
                        <button class="btn btn-primary">Register</button>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}